spring:
  data:
    mongodb:
      uri: mongodb://mongodb:27017/blackjack
      auto-index-creation: true

  r2dbc:
    url: r2dbc:mysql://mysql:3306/blackjack
    username: blackjack_user
    password: blackjack_pass
    pool:
      initial-size: 10
      max-size: 20

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      continue-on-error: false

logging:
  level:
    root: INFO
    com.blackjack: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      enabled: true