spring:
  application:
    name: blackjack-api


  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/blackjack}
      auto-index-creation: true

  r2dbc:
    url: ${R2DBC_URL:r2dbc:mysql://localhost:3306/blackjack}
    username: ${MYSQL_USER:blackjack_user}
    password: ${MYSQL_PASSWORD:blackjack_pass}
    pool:
      initial-size: 10
      max-size: 20

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      continue-on-error: false

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    root: INFO
    com.blackjack: DEBUG
    org.springframework.data.mongodb: DEBUG
    org.springframework.r2dbc: DEBUG
    io.r2dbc.mysql: DEBUG

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  show-actuator: false

  management:
    endpoints:
      web:
        exposure:
          include: health,info
    endpoint:
      health:
        show-details: when-authorized